* {
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: hsl(233, 47%, 7%);
}

/* Card Content */

.card {
  display: flex;
  width: 100%;
  padding-top: 10%;
  align-items: center;
  flex-direction: column-reverse;
}

.inner-content {
  padding: 3%;
  max-width: 325px; /* Keeps Width In Place Even When Flipping Device Horizontally */
  text-align: center; 
  flex-direction: column;
  border-radius: 0 0 5px 5px;
  background-color: hsl(244, 38%, 16%);
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

span {
  color: hsl(277, 64%, 61%);
}

.content {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;
  line-height: 1.5rem;
}

/* List Features */

.list {
  list-style: none;
}

li {
  margin-right: 2.5rem;
}

li p:nth-child(1) {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

li p:nth-child(2) {
  position: relative;
  bottom: 1rem;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.7rem;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}

li:nth-child(2) p:nth-child(1) {
  position: relative;
  right: 3.5px;
}

/* Card Image */

.image-container {
  width: 100%; 
  height: 250px;
  max-width: 325px; /* Keeps Width In Place Even When Flipping Device Horizontally */
  border-radius: 10px 10px 0 0;
  background: hsl(277, 51%, 33%) url(./images/image-header-desktop.jpg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
}

/* Footer */

.footer {
  font-size: 1rem;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.footer p:nth-child(2) {
  position: relative;
  bottom: 10px;
}

a {
  color: aqua;
}